@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), local('Inconsolata'), url(../css/Inconsolata.otf) format('opentype');
}
body {
  overflow: hidden;
  font-family: Inconsolata;
  white-space: no-wrap;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  line-height: 1.2em;
  background: url('../css/snow.png');
}
#weather {
}
div {
}
#wrapper {
  margin: 0 auto;
  width: 350px;
}
textarea {
  margin: 0 auto;
  outline: none;
  text-align: center;
  border: none;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  display: block;
  width: 350px;
  height: 200px;
  resize: none;
  overflow: hidden;
  background: none;
  padding-bottom: 20px; padding-top: 20px;
  user-select: none;
}

h1 {
  display: block;
  font-size: 28px;
  padding-bottom: 15px;
  text-align: left;
  letter-spacing: -1px;
}
h1 .small {
  font-size: 12px;
}

#location {
  float: right;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
}

#location input {
  border: none;
  font-size: 11px;
  padding: 3px;
  color: #888888;
}

#location a:hover {
  background: none;
  color: black;
  text-decoration: underline;
}

#label {
  display: inline-block;
  text-align: center
}
h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 5px;
  opacity: 0;
}
footer {
  margin-top: 20px;
  font-size: 11px;
  font-weight: normal;
  line-height: 1em;
}
#date {
  margin-top: 0;
  padding-top: 0;
  font-size: 12px;
  opacity: 0;
}



a {
  color: #00396b;
  text-decoration: none;
  display: inline-block;
  padding: 3px;
}

a:hover {
  background: #00396b;
  color: white;
}
